
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

body{
    font-family: "Roboto";
}

.container {
    margin: 0 auto;
}

.navbar{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    height: 5rem;
}

.logo img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: left;
    margin: 8px;
    box-shadow: 5px 5px 4px #F5591B;
}

.nav-button{
    display: flex;
    gap: 25px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  animation-name: example;
  animation-duration: 1s;
}

.icon{
    display: none;
    color: #000;
    filter: drop-shadow(5px 5px 4px #F5591B);
}

a{
    text-decoration: none;
    color: #fff;
}

.link{
    position: relative;
    border: 2rem;
    background-color: #000;
    color: #fff;
}

.link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.3s;
}

.link:hover::before{
    scale: 1;
}

button {
    border: none;
    display: block;
    position: relative;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #13A868;
    z-index: 1;
    height: 3rem;
    width: 6rem;
    margin-top: 15px;
    box-shadow: 5px 5px 4px #F5591B;
    border-radius: 5px;
   }
   
   button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #13A868;
   }
   
   button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #13A868;
   }
   
   button:hover {
    color: #000;
    transition: all 0.3s;
   }
   
   button:active span::before {
    background: #13A868;
   }

   .about{
    position: relative;
    height: 400px;
   }

   .background-img{
    height: inherit;
    opacity: 0.6;
    width: 100%;
   }

   .about-txt{
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align:left;
    max-width: 1440px;
   }

   .top-gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top, transparent, #fff);
    z-index: 0;
   }

   .bottom-gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, transparent, #fff);
    z-index: 0;
   }

   .about-txt button{
    color: #000;
   }

   .about-txt a{
    display: block;
    width: fit-content;
   }

   .article-left{
    display: flex;
    flex-direction: row;
    height: 400px;
    margin-bottom: 1rem;
   }

   .article-content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    padding: 2rem;
    margin: auto 0;
   }

   .article-section{
    margin-bottom: 1rem;
   }

   .article-content a{
    display: block;
    width: fit-content;
   }

   .article-image{
    margin: auto 0;
    overflow: hidden;
    flex: 1 1;
    width: 350px;
   }

   .article-image img{
    border-radius: 30px;
    padding: 1rem;
   }

   .article-right{
    display: flex;
    flex-direction: row;
    height: 400px;
   }

   .article-right .article-image{
    display:flex;
    justify-content: flex-end;
   }

   .ivo{
    height: 500px;
    width: auto;
   }

   .hide-tablet{
       display: none;
   }
   
   .custom-shape-divider-top-1674186541 {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1674186541 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 138px;
}

.custom-shape-divider-top-1674186541 .shape-fill {
    fill: #13A868;
}

.custom-shape-divider-bottom-1674187103 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674187103 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 138px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1674187103 .shape-fill {
    fill: #13A868;
}

.fact-section{
    position: relative;
    top: -10px;
    height: 110px;
    background-color: #13A868;
    margin-bottom: 120px;
}

.contact-section{

}

@media screen and (min-width: 700px) {
    .container{
        max-width: 670px;
    }
}

@media screen and (min-width: 880px) {
    .container{
        max-width: 850px;
    }

    .hide-tablet{
        display: flex;
    }
   
    .custom-shape-divider-top-1674186541 {
     top: 20px;
 }
}

@media screen and (min-width: 1080px) {
    .container{
        max-width: 1050px;
    }

    .article-image{
     margin: 0 auto;
     overflow: hidden;
     flex: 1 1;
     width: 350px;
     height: 400px;
    }

    .article-image img{
        height: 400px;
        width: auto;
    }


}

@media screen and (min-width: 1470px) {

    img{
        height: auto;
        width: auto;
    }

    .ivo{
     height: 500px;
     width: auto;
     position: relative;
     left: 80%;
    }

    .container{
        max-width: 1440px;
    }
}

@media screen and (max-width:700px){
    .nav-button a{
        display: none;
    }

    .navbar{
        display: grid;
    }

    a.icon{
        position: absolute;
        float: right;
        display: block;
        margin-top: 15px;
        right: 50px;
    }
    .nav-button.responsive {
        position: absolute;
        top: 80px;
        height: 260px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        background-color: #fff;
    }
    .nav-button.responsive a {
        display: flex;
    }
    .nav-button.responsive button {
        width: 16rem;
        box-shadow: 5px 5px 4px #F5591B;
    }
   
    button span::before {
     transition: all 0.37s;
     width: 24%;
     height: 700%;
    }

  .about{
   height: 330px;
  }

  .about-txt{
    top: 25%;
    left: 15%;
    transform: translate(-9%, 0%);
   }

   .about.responsive{
    top: 260px;
   }

   .top-gradient{
    height: 60px;
   }

   .bottom-gradient{
    height: 60px;
   }
}